html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

h3{
	padding-bottom: 1px;
}



#line-c{
	margin-right: 50px;
	

}

#line-d{
	margin-left: 50px;
	

}
